.container {
  display: flex;
  flex-direction: column;
  gap: 12px; 
  max-width: 100%;
  position: relative;
  font-family: 'Montserrat', sans-serif; 
  color: #e0e0e0;
}

.input {
  padding: 12px;
  border-radius: 8px; 
  border: 1px solid #444; 
  background-color: #2b2b2b; 
  font-size: 16px;
  color: #e0e0e0; 
  width: 100%;
  transition: border-color 0.3s, box-shadow 0.3s;

  &:focus {
    border-color: #bd8b2d; 
    outline: none;
    box-shadow: 0 0 5px 1px rgba(189, 139, 45, 0.5); 
  }
}

.dropdown {
  border: 1px solid #444; 
  border-radius: 8px;
  max-height: 150px;
  overflow-y: auto;
  position: absolute;
  top: calc(100% + 8px);
  background-color: #2b2b2b;
  z-index: 1;
  width: 100%;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3); 
  padding: 12px;

  @media (max-width: 600px) {
    max-height: 200px;
  }
}

.loading {
  padding: 10px;
  font-size: 14px;
  color: #a0a0a0;
}

.option {
  padding: 10px;
  font-size: 16px;
  color: #e0e0e0; 
  cursor: pointer;
  border-bottom: 1px solid #444;
  transition: background-color 0.3s, color 0.3s;

  &:hover {
    background-color: #383838; 
    color: #bd8b2d;
  }

  &:last-child {
    border-bottom: none; 
  }
}

.createButton {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #bd8b2d; 
  color: #fff;
  padding: 10px 16px; 
  font-size: 14px;
  font-weight: bold;
  border-radius: 8px;
  border: none;
  margin-top: 12px;
  cursor: pointer;
  width: 100%;
  transition: background-color 0.3s, transform 0.3s;

  &:hover {
    background-color: #a57525; 
    transform: scale(1.03); 
  }
}


.dropdown::-webkit-scrollbar {
  width: 10px; 
}

.dropdown::-webkit-scrollbar-track {
  background: #2b2b2b;
  border-radius: 10px;
}

.dropdown::-webkit-scrollbar-thumb {
  background-color: #4a4a4a;
  border-radius: 10px; 
  border: 2px solid #2b2b2b;
}

.dropdown::-webkit-scrollbar-thumb:hover {
  background-color: #616161; 
}