.container {
  max-width: 1000px;
  margin: 20vh auto;
  padding: 30px;
  background-color: #1f1f1f; 
  border-radius: 10px;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.3);
  border: 1px solid #333; 

  @media (max-width: 600px) {
    margin-top: 0;
    padding: 20px;
  }
}

.title {
  font-size: 26px;
  font-weight: bold;
  color: #e0e0e0; 
  margin-bottom: 20px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px; 
}

.form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;

  @media (max-width: 600px) {
    grid-template-columns: 1fr;
  }
}
.fieldContainer {
  display: flex;
  flex-direction: column;
  gap: 6px;

  label {
    font-weight: 600;
    color: #bd8b2d; 
    font-size: 14px;
  }

  .input, .numberInput {
    padding: 12px;
    border-radius: 6px; 
    border: 1px solid #444;
    background-color: #2b2b2b;
    font-size: 16px;
    color: #e0e0e0;
    transition: border-color 0.3s, box-shadow 0.3s;

    &:focus {
      border-color: #bd8b2d; 
      box-shadow: 0 0 4px rgba(189, 139, 45, 0.5); 
      outline: none;
    }
  }

  .errorMessage {
    color: #e57373;
    font-size: 12px;
  }
}

.buttonContainer {
  grid-column: span 2;
  display: flex;
  gap: 12px;
  justify-content: center;
  margin-top: 30px;

  @media (max-width: 600px) {
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
  }
}

.primaryButton {
  width: 150px;
  background-color: #bd8b2d; 
  color: #fff;
  padding: 12px 20px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  transition: background-color 0.3s, transform 0.3s;

  &:hover {
    background-color: #a57525; 
    transform: scale(1.05); 
  }

  @media (max-width: 600px) {
    width: 100%;
  }

  &:disabled {
    background-color: #666666;
    color: #b3b3b3;
    cursor: not-allowed;
    opacity: 0.5;
  }
}

.secondaryButton {
  width: 150px;
  background-color: #444;
  color: #e0e0e0;
  padding: 12px 20px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  transition: background-color 0.3s, transform 0.3s;

  &:hover {
    background-color: #555; 
    transform: scale(1.05); 
  }

  @media (max-width: 600px) {
    width: 100%;
  }
}


.numberInput::-webkit-outer-spin-button,
.numberInput::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.numberInput {
  -moz-appearance: textfield;
}
